# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# VS Code
.vscode/

# Model cache
.cache/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Zip archives
*.zip

# Backup files
*_backup.py

# Python build files
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/